<div class="toppage">
  <header class="app-header">
    <div class="app-name">
      <%= link_to 'Wasmo', contents_path, class:"appname"%>
    </div>
    <div class="nav">
      <% if user_signed_in? %>
        <%= link_to current_user.username, '#', class:"user-name" %>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"logout"%>
      <% else %>
        <%= link_to "ログイン", user_session_path, class:"login"%>
        <%= link_to "新規登録", new_user_session_path, class:"sign-up"%>
      <% end %>
  </header>
  <div class="calendar">
    <%= month_calendar events: @contents do |date, contents| %>
      <%= date.day %>
      <% contents.each do |c| %>
        <% if user_signed_in? && current_user.id == c.user_id %>
          <div>
            <%= link_to "#{c.money}円", c %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <footer class="calendar-footer">
    Wasmo
  </footer>
</div>