<div class="toppage">
  <%= render "shared/header" %>
  <div class="calendar">
    <%= month_calendar events: @contents do |date, contents| %>
      <%= date.day %>
      <% contents.each do |c| %>
        <% if user_signed_in? && current_user.id == c.user_id %>
          <div>
            <%= link_to "#{c.money}円", c %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <%= render "shared/footer"%>
</div>