<div class="show-form">
  <%= render "shared/header" %>
  <div class="show">
    <div class="header-title">
      無駄遣い
    </div>
    <div class="show-main">
      <div class="title-show">
        <strong class="contents">ユーザー名</strong>
        <div class="show-contents">
          <%= @content.user.username%>
        </div>
      </div>
      <div class="title-show">
        <strong class="contents">タイトル</strong>
        <div class="show-contents">
          <%= @content.title%>
        </div>
      </div>

      <div class="content-show">
        <strong class="contents">使用金額</strong>
        <div class="show-contents">
          <%= @content.money %>円
        </div>
      </div>

      <div class="time-show">
        <strong class="contents">使用日</strong>
        <div class="show-contents">
          <%= @content.start_time.strftime("20%y年%m月%d日") %>
        </div>
      </div>

      <div class="show-btn">
        <%= link_to '編集', edit_content_path(@content), class:"edit-btn" %><h3 class="show-or">or</h3>
        <%= link_to '削除', content_path(@content.id), class:"delete-btn", method: :delete, data: { confirm: '本当に?' } %>
        <%= link_to '戻る', contents_path, class:"show-back-btn" %>
      </div>
    </div>
    <div class="footer-title">
    <br />
    <br />
    <br />
    </div>
  </div>
  <%= render "shared/footer"%>
</div>